$xsmall: 480px;
$small: 768px;
$medium: 992px;
$large: 1200px;
$twitch-black:#101014;
$twitch-purple:#6441A5;
$twitch-purple-hover:#7550BA;
$background:blue;
$featured:#FFF9D7;
$stream-large-height:480px;
$stream-large-width:800px;
$stream-small-height:380px;
$stream-small-width:620px;

body{
  min-width:$xsmall;
  background:#F6F6F6;
  .body-container{
    max-width:$small;
  }
  .med-container{
    max-width:$medium;
  }
  .lg-container{
    max-width:$large;
    margin:0 auto;
  }
  a{
    color:$twitch-purple;
    transition:400ms all;
    &:hover,&:focus{
      color:$twitch-purple-hover;
    }
  }
}

@import "header";
@import "body";
@import "footer";
@import "xsmall";
@import "small";
@import "medium";
@import "large";