.jumbotron{
  height:400px;
  .main-vid{

  }
}
.gallery{
  .item{
    margin:0 auto;
    width:90%;
    img{
      width:100%;
      height:140px;
      display:block;
      margin:0 auto;
    }
    .title{
      margin:10px 0 2px 0;
    }
    .author{

    }
    .game{

    }
    .description{
      color:#777;
      font-style:italic;
    }
  }
}