.header{
  margin:10px 0;
  border-bottom: 1px solid #E5E5E5;

  .logo-title{
    color:#777;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    //line-height: 40px;
    text-decoration:none;
    display:inline-block;
    font-weight:500;
    font-size:24px;
    :hover{

    }
  }
}