#app-header
  border-bottom: 1px solid $twitch-purple
  padding: 10px 0
  background: $white

#header-menu
  +container
  display: flex
  +until($mobile_nav)
    flex-direction: column
  +from($mobile_nav)
    justify-content: space-between
    align-items: center
  .nav-left,.nav-right
    display: flex
    +from($mobile_nav)
      height: 54px
    +until($mobile_nav)
      justify-content: space-around
      align-items: center
  .menu-item
    border-radius: 6px
    padding: 5px 10px
    transition: background-color 500ms
    +from($mobile_nav)
      display: inline-block
      padding: 15px
    +until($mobile_nav)
      text-align: center
      flex-grow: 1
      flex-shrink: 0
      flex-basis: 50%
    &:hover,&:focus
      background-color: $grey-lightest

#logo
  line-height: 20px
  display: block
  padding: 7px 10px
  +from($mobile_nav)
    padding: 7px 15px
#primary_logo
  display: block
  font-size: 24px
#slogan
  display: block
  color: $grey