.jumbotron {
  height: 400px; }

.gallery .item {
  margin: 0 auto; }
  .gallery .item img {
    width: 100%;
    height: 140px;
    display: block;
    margin: 0 auto; }
  .gallery .item .title {
    margin: 0; }
  .gallery .item .description {
    color: #777; }
