@import "../../sass/shared"

#stream-embed-section
  background-image: none
  background-repeat: no-repeat
  background-position: center center
  background-size: auto
  background-color: $stream-background-color
  border-bottom: 1px solid $twitch-purple
  padding: 10px 0
  +tablet
    padding-bottom: 40px
    padding-top: 40px

#stream-container
  +container
  box-shadow: 0 1px 5px rgba(0,0,0,0.75)
  display: flex
  flex-direction: column
  +tablet
    flex-direction: row

#stream-embed
  +tablet
    flex-grow: 4
  iframe
    display: block

#stream-info
  +tablet
    flex-basis: 400px
    height: 380px
  display: flex
  flex-direction: column
  padding: 15px
  background-color: rgba($stream-background-color,0.8)
  h2.stream_title
    color: $white
    font-size: 20px
    text-shadow: 1px 1px 0 rgba(0,0,0,0.8)
    +until($l_mobile)
      max-width: 550px
      margin: 0 auto

#stream-meta
  display: flex
  padding: 5px
  margin: 10px 0
  border-radius: 2px
  border-width: 0 4px
  border-style: solid
  border-color: $twitch-purple
  background-color: rgba($body-background-color, 0.8)
  +until($l_mobile)
    max-width: 550px
    margin: 10px auto
  .channel_logo
    flex-grow: 0
    flex-basis: 100px
    margin-right: 10px
    +tablet
      flex-basis: 45px
    img
      display: block

  .channel_info
    flex-grow: 1

  .channel_name
    font-weight: bold

#random-stream-button
  margin-top: auto
  text-align: center
  a.random-button
    +button
    text-shadow: 1px 1px 0 rgba(0,0,0,0.8)
    padding: 14px 20px
    font-weight: bold
    svg
      filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.8))