@import "../../sass/shared"

#stream-embed-section
  background-image: none
  background-repeat: no-repeat
  background-position: center center
  background-size: auto
  background-color: $stream-background-color
  border-bottom: 1px solid $twitch-purple
  padding: 10px 0
  +tablet
    padding-bottom: 40px
    padding-top: 40px

#stream-container
  +container
  box-shadow: 0 1px 5px rgba(0,0,0,0.75)
  display: flex
  flex-direction: column
  background-color: rgba($body-background-color,0.8)
  +tablet
    flex-direction: row

#stream-embed
  +tablet
    flex-grow: 4
  iframe
    display: block
    min-height: 520px

#stream-info
  display: flex
  flex-direction: column
  padding: 10px
  font-size: 0.9rem
  +desktop
    flex-basis: 400px
  h1.stream_name
    font-size: 18px
    font-weight: 700
    line-height: 1
  h2.stream_title
    font-size: 16px
    font-weight: 400
    +until($l_mobile)
      max-width: 550px
      margin: 0 auto

#stream-meta
  display: flex
  padding: 0
  margin-bottom: 5px
  +until($l_mobile)
    max-width: 550px
    margin: 10px auto
  .channel_logo
    flex: none
    width: 45px
    margin-right: 10px
    img
      display: block

  .channel_info
    flex-grow: 1

  .channel_name
    font-weight: bold
  
#stream-chat-container
  margin-bottom: 15px
  &.active
    flex-grow: 1
  #chat_embed
    min-height: 380px

#stream-controls
  display: flex
  justify-content: space-between
  margin-top: auto
  .toggle-chat
    +button

#random-stream-button
  margin-top: auto
  text-align: center