@import "../../sass/shared"

.app-gallery
  background-color: $white
  padding: 20px
  margin: 5px 0

  .gallery-header
    display: flex
    justify-content: space-between
    h1.gallery-title
      color: $twitch-purple
    .gallery-reload
      +button


  .gallery-item

  .gallery-item-screenshot

  .overlay
    +overlay
    background: rgba($stream-background-color, 0.4)
    color: $white

  .gallery-item-meta

  .gallery-item-logo

  .gallery-item-name

  .gallery-item-game

  &.featured
    background-color: $featured-background-color